/* styles.css */
.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;

}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 10px 30px;
    border-radius: 4px;
}

.hero-text {
    margin: 0;
    font-size: 3rem;
}

.hero-text {
    margin-top: 10px;
    font-size: 1.2rem;
}

.welcome {
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
}

.welcome p {
    max-width: 700px;
    margin: 15px auto;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: black;
    color: #f5f5f5;
}

header, footer {
    background-color: rgb(13, 13, 13);
    padding: 20px;
    text-align: center;
}

nav li {
    list-style: none;
    padding: 0;
}

nav a {
    color: #ffcc00;
    text-decoration: none;
}

main {
    padding: 20px;
}

hi, h2 {
    color: #ffcc00;
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

.room {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20px;
}

.text {
    width:50%
}

.room img {
    width: 400px;
    height: 240px;
    object-fit: cover;
}

.pricing {
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    text-align: center;
}

.price-card {
    padding: 20px 60px;
}

.price-card:not(:last-child) {
    border-right: 1px solid #ccc ;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

h1 {
    text-align: center;
}

.main-btn {
    background-color: #ccc;
    color: #ccc;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}

.main-btn:hover {
    background-color: #c92d3a;
}